
<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>
          Transporte Universitário
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-slides #signupSlider>

      <ion-slide>
          <ion-list lines="none">

              <form [formGroup]="slideOneForm" >
                <div formGroupName="personalData">
                  <ion-item>
                      <ion-label position="floating" slot="start">Nome Completo</ion-label>
                      <ion-input formControlName="name" type="text"></ion-input>
                  </ion-item>
          
                  <ion-item>
                      <ion-label position="floating" slot="start">Email</ion-label>
                      <ion-input formControlName="email" type="text"></ion-input>
                  </ion-item>
          
                  <ion-item>
                      <ion-label position="floating" slot="start">Cpf</ion-label>
                      <ion-input formControlName="cpf" type="number"></ion-input>
                  </ion-item>
                  <!-- <div class="row" formGroupName="rg">
                      <div class="form-group col-md-6">
                        <label class="control-label">RG</label>
                        <input aria-describedby="addon-right addon-left" type="text" class="form-control" formControlName="number"
                          placeholder="RG" minlength="2" maxlength="15" autofocus>
                        <small *ngIf="formNewUser.get('personalData').get('rg').get('number').valid && formNewUser.get('personalData').get('rg').get('number').touched"
                          class="form-text text-success">{{ 'RG válido' }}</small>
                        <small *ngIf="!formNewUser.get('personalData').get('rg').get('number').valid && formNewUser.get('personalData').get('rg').get('number').touched"
                          class="form-text text-danger">{{ 'RG inválido' }}
                        </small>
                      </div> -->
                </div>
              </form>
          
          </ion-list>
      </ion-slide>

      <ion-slide>

      </ion-slide>

    </ion-slides>

</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="prev()"><ion-icon slot="start" name="arrow-back"></ion-icon> Prev</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="next()">Next <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-footer>